.App {
  text-align: center;
  background-color: hsl(216, 12%, 8%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  background-color: #1e2531;
  border-radius: 1rem;
  padding: 1.5rem;
}